
{% extends 'account/baseAdmin.html.twig' %}

{% block content_title 'Bienvenue cher auteur' %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Gestion de votre compte</h1>
        <ul>
            <li>Liste de vos articles</li>
            <li>Gestion de votre profil</li>
        </ul>

    </div>

{% endblock %}
