
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@600&display=swap');


:root{
    --main-bg-color: #f5f5f5;
    --dark : #3F4656;
    --gris : #A3ABBD;
    --cta-color-light: #DB6B8C;
    --cta-color-dark: #A1365A;
}

body{
    background-color: var(--main-bg-color);
    font-family: 'Hind', sans-serif;
    color : var(--dark);

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
  }
.form-comment-group{
    background: #DADADA;

    color: black;
}

#comment_content{
    height: 250px;
}

.max-800{
    max-width: 800px!important;
}

.comment-list{
    list-style: none;
}
.comment-list li{

    border-bottom : 2px solid;
}

.footer{
    height: 250px;
    background-color: var(--dark);
}

.footer-nav{
    display:flex;

    align-items: center;
    justify-content: center;
}
.footer-nav ul{
    list-style: none;
}
.footer-nav li{
    display: inline-block;
    margin: 0 1.5rem;
}

.footer-nav li a {
    text-decoration: none;
    color: var(--main-bg-color);
    transition: all 0.3s ease 0s;
}

.footer-nav li a:hover {

    color: #807f7f;
}
