{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact
{% endblock %}

{% block body %}

	<div class="container mt-4">
		<div class="max-800 m-auto mt-4 ">
			<h1 class="my-5">Formulaire de contact
			</h1>

			<div class="max-800 alert alert-success">
				Votre message a bien été envoyé !</div>
		</div>
	</div>
{% endblock %}
